// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.head-dash{
    line-height: 45px;
}
.plus{
    float: right;
    margin-top: 5px;
}